.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.mainSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0em 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection {
    margin-top: calc(0px + 0px) !important;
    padding: 3em 15px 1.5em;
  }
}
.reachOutHero {
  display: block;
  position: relative;
  width: 1440px;
  height: 1871px;
  margin-bottom: 59px;
  flex-shrink: 0;
}
.rectangle23 {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 1%,
      rgba(255, 255, 255, 0) 99%
    )
    0% 0% / 100% 100% no-repeat;
  transform: rotate(-180deg) skew(0.057295760414500616deg, 0deg);
  width: 1440px;
  height: 331px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 1440px;
  top: 472px;
}
.group18 {
  opacity: 0.3;
  width: 1440px;
  height: 472px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}
.gradient1 {
  opacity: 0.5;
  width: 1440px;
  height: 472px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.layer2 {
  transform: translate(0.019000000000000017px, -0.246px);
  width: 1441px;
  height: 473px;
  display: block;
  position: absolute;
  top: 0px;
  left: -1px;
}
.layer1 {
  width: 1441px;
  height: 473px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle {
  background: url("/plasmic/cloud_wealth/images/rectangle.png") 0px 0px / 1441px 473px no-repeat;
  width: 100%;
  height: 100.08%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.rectangle26 {
  opacity: 0.439;
  background: linear-gradient(0deg, #fcfcfc 0%, #f2d599 82%);
  width: 1440px;
  height: 472px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__h7Skn {
  display: block;
  font-size: 64px;
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  position: absolute;
  left: 551px;
  top: 100px;
}
.frame27 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  left: 207px;
  top: 280px;
}
.frame27 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 54px);
  height: calc(100% + 54px);
}
.frame27 > :global(.__wab_flex-container) > *,
.frame27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame27 > :global(.__wab_flex-container) > picture > img,
.frame27
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 54px;
}
.text__cgbUu {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 34px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 1027px;
}
.rectangle31 {
  background: rgba(14, 91, 190, 1);
  width: 527px;
  height: 585px;
  display: block;
  position: absolute;
  left: 160px;
  top: 572px;
}
.rectangle32 {
  background: rgba(14, 91, 190, 1);
  width: 527px;
  height: 585px;
  display: block;
  position: absolute;
  left: 753px;
  top: 572px;
}
.button3 {
  flex-direction: row;
  background: rgba(167, 159, 216, 1);
  width: auto;
  height: 66px;
  display: flex;
  position: absolute;
  left: 181px;
  top: 479.0078125px;
  border-radius: 200px;
  padding: 9px 42px;
}
.button3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.button3 > :global(.__wab_flex-container) > *,
.button3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button3 > :global(.__wab_flex-container) > picture > img,
.button3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button4 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__z2SbY {
  display: block;
  font-size: undefinedpx;
  text-align: center;
  letter-spacing: 0em;
  line-height: 100%;
  width: 383px;
  position: absolute;
  left: 232px;
  top: 705px;
  padding-top: 0px;
  height: auto;
  padding-bottom: 72px;
}
.h2__iTxmb {
  font-family: "SF Pro Display";
  font-size: 48px;
}
.blockquote {
  font-family: "SF Pro Display";
  font-size: 20px;
  line-height: 1.6;
}
.text___1Vy9P {
  display: block;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0em;
  line-height: 153.1%;
  width: 383px;
  position: absolute;
  left: 825px;
  top: 705px;
  font-family: "SF Pro Display";
}
.h2__gs3QK {
  font-size: 48px;
  font-family: "SF Pro Display";
}
.img__z1JpT {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 41.782px;
  height: 60px;
  display: block !important;
  overflow: hidden;
  left: 403px;
  top: 617px;
}
.img__z1JpT > picture > img {
  object-fit: cover;
}
.img__z1JpT > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__xDh93 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 68.93px;
  height: 60px;
  display: block !important;
  overflow: hidden;
  left: 982px;
  top: 617px;
}
.img__xDh93 > picture > img {
  object-fit: cover;
}
.img__xDh93 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.button {
  flex-direction: row;
  background: rgba(120, 195, 241, 1);
  width: auto;
  height: 66px;
  display: flex;
  position: absolute;
  left: 325px;
  top: 1047px;
  border-radius: 200px;
  padding: 9px 42px;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button2 {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  height: auto;
}
.text__mHfKx {
  display: block;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 100%;
  width: 785px;
  position: absolute;
  left: 160px;
  top: 1304px;
  padding-top: 0px;
}
.h1 {
  color: var(--token-g9PvTmpmOmXKec);
  font-family: "SF Pro Display";
}
.pill {
  flex-direction: row;
  background: rgba(211, 157, 135, 1);
  width: auto;
  height: 37px;
  display: flex;
  position: absolute;
  left: 160px;
  top: 1257px;
  border-radius: 16px;
  padding: 9px 20px;
}
.pill > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.pill > :global(.__wab_flex-container) > *,
.pill > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pill > :global(.__wab_flex-container) > picture > img,
.pill > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.pill2 {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__thTnm {
  display: block;
  font-size: undefinedpx;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(64, 63, 65, 1);
  width: 444px;
  position: absolute;
  left: 272px;
  top: 1549px;
}
.h6__hOHpU {
  font-size: 24px;
}
.text__xAKdr {
  display: block;
  font-size: undefinedpx;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(64, 63, 65, 1);
  width: 444px;
  position: absolute;
  left: 272px;
  top: 1679px;
}
.h6__oVvIf {
  font-size: 24px;
}
.text__b2RW8 {
  display: block;
  font-size: undefinedpx;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(64, 63, 65, 1);
  width: 444px;
  position: absolute;
  left: 272px;
  top: 1812px;
}
.h6__dOx4Q {
  font-size: 24px;
}
.svg___7Hikd {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #0f5cbf;
  width: 71px;
  height: 71px;
  display: block;
  left: 160px;
  top: 1540px;
}
.svg__vymRc {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #79c4f2;
  width: 71px;
  height: 71px;
  display: block;
  left: 160px;
  top: 1670px;
}
.svg___3Nt7S {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d49e88;
  width: 71px;
  height: 71px;
  display: block;
  left: 160px;
  top: 1800px;
}
.img__duc8T {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 37px;
  display: block !important;
  overflow: hidden;
  left: 175px;
  top: 1559px;
}
.img__duc8T > picture > img {
  object-fit: cover;
}
.img__duc8T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__eTf4A {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 43px;
  height: 25px;
  display: block !important;
  overflow: hidden;
  left: 174px;
  top: 1693px;
}
.img__eTf4A > picture > img {
  object-fit: cover;
}
.img__eTf4A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg___0SoxB {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #d49e88;
  width: 46px;
  height: 46px;
  display: block;
  overflow: hidden;
  left: 173px;
  top: 1812px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.cwFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
