.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 191px;
  min-width: 0;
  min-height: 0;
}
.desktopNavigationLoggedOut {
  width: 1440px;
  height: 81px;
  display: block;
  flex-shrink: 0;
}
.cwLogoBlue1 {
  width: 190px;
  height: 46px;
  display: block;
  position: absolute;
  top: 17px;
  left: 160px;
  overflow: hidden;
}
.b {
  transform: translate(-0.016px, -0.026px);
  width: 191px;
  height: 46px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.c {
  width: 191px;
  height: 46px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group {
  width: 78px;
  height: 46px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group2 {
  width: 78px;
  height: 46px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__kib5J {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: translate(-0.4969999999999999px, -0.0009999999999976694px);
  width: 0.325px;
  height: 0.977px;
  display: block;
  top: 37px;
  left: 62px;
}
.svg__cPpIx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7cd0eb;
  transform: translate(-0.33299999999999996px, -0.4439999999999955px);
  width: 17px;
  height: 8px;
  display: block;
  top: 76.22%;
  left: 1.28%;
}
.svg__mvoR {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #0053aa;
  transform: translate(-0.11599999999999966px, 0px);
  width: 45.09px;
  height: 27.706px;
  display: block;
  top: 0px;
  left: 33px;
}
.img__qS5Wr {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0px, -0.2569999999999997px);
  width: 34.627px;
  height: 32.355px;
  display: block !important;
  top: 10px;
  left: 0px;
}
.img__qS5Wr > picture > img {
  object-fit: cover;
}
.img__qS5Wr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.group3 {
  transform: translate(0.17899999999999494px, -0.370000000000001px);
  width: 20px;
  height: 26px;
  display: block;
  position: absolute;
  top: 21px;
  left: 43px;
}
.img__vPvga {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.036000000000001364px, 0.0030000000000001137px);
  width: 18px;
  height: 21px;
  display: block !important;
  top: 7.9%;
  left: 10.35%;
}
.img__vPvga > picture > img {
  object-fit: cover;
}
.img__vPvga > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__scjjk {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.036000000000001364px, 0.08099999999999952px);
  width: 17.265px;
  height: 12.195px;
  display: block !important;
  top: 0px;
  left: 2px;
}
.img__scjjk > picture > img {
  object-fit: cover;
}
.img__scjjk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__evEz {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7cd0eb;
  transform: translate(0.19900000000000517px, 0px);
  width: 7.818px;
  height: 4.967px;
  display: block;
  top: 0px;
  left: 2px;
}
.img__pOc7M {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0px, 0.3689999999999998px);
  width: 19px;
  height: 9px;
  display: block !important;
  top: 63.27%;
  left: 0%;
}
.img__pOc7M > picture > img {
  object-fit: cover;
}
.img__pOc7M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg___5FKQo {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #7cd0eb;
  transform: translate(-0.33499999999999375px, 0.125px);
  width: 16px;
  height: 7px;
  display: block;
  top: 63.27%;
  left: 20.7%;
}
.img__boXpn {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(-0.3440000000000012px, -0.20199999999999996px);
  width: 31px;
  height: 16px;
  display: block !important;
  top: 21.77%;
  left: 29.49%;
}
.img__boXpn > picture > img {
  object-fit: cover;
}
.img__boXpn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__la8T {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.27300000000000013px, -0.09399999999999942px);
  width: 52px;
  height: 31px;
  display: block !important;
  top: 34.83%;
  left: 3.84%;
}
.img__la8T > picture > img {
  object-fit: cover;
}
.img__la8T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__m9Zgt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(0.27099999999999724px, 0.23199999999999932px);
  width: 43px;
  height: 30px;
  display: block !important;
  top: 34.83%;
  left: 26.93%;
}
.img__m9Zgt > picture > img {
  object-fit: cover;
}
.img__m9Zgt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__mPkI {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(-0.20000000000000284px, 0.23199999999999932px);
  width: 43px;
  height: 30px;
  display: block !important;
  top: 34.83%;
  left: 39.75%;
}
.img__mPkI > picture > img {
  object-fit: cover;
}
.img__mPkI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__eg70 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: translate(-0.45699999999999363px, -0.38899999999999935px);
  width: 119.472px;
  height: 16.043px;
  display: block !important;
  top: 29px;
  left: 71px;
}
.img__eg70 > picture > img {
  object-fit: cover;
}
.img__eg70 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.navigation {
  flex-direction: row;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 48px;
  left: 450px;
}
.navigation > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 29px);
  width: calc(100% + 29px);
}
.navigation > :global(.__wab_flex-container) > *,
.navigation > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation > :global(.__wab_flex-container) > picture > img,
.navigation
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 29px;
}
.home {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.home > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.home > :global(.__wab_flex-container) > *,
.home > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.home > :global(.__wab_flex-container) > picture > img,
.home > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 13px;
}
.text__qbcp1 {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.rectangle2 {
  background: rgba(14, 91, 190, 1);
  width: 35px;
  height: 3px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.about {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.about > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.about > :global(.__wab_flex-container) > *,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.about > :global(.__wab_flex-container) > picture > img,
.about > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 13px;
}
.text__musZq {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(20, 42, 88, 1);
  position: relative;
}
.rectangle3 {
  background: rgba(14, 91, 190, 1);
  width: 35px;
  height: 3px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.calculators {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.calculators > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.calculators > :global(.__wab_flex-container) > *,
.calculators > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.calculators > :global(.__wab_flex-container) > picture > img,
.calculators
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 13px;
}
.text__bzB5H {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.rectangle4 {
  background: rgba(14, 91, 190, 1);
  width: 66px;
  height: 3px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.features {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.features > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.features > :global(.__wab_flex-container) > *,
.features > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.features > :global(.__wab_flex-container) > picture > img,
.features
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 13px;
}
.text__psOG {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.rectangle5 {
  background: rgba(14, 91, 190, 1);
  width: 50px;
  height: 3px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.partners {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.partners > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.partners > :global(.__wab_flex-container) > *,
.partners > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.partners > :global(.__wab_flex-container) > picture > img,
.partners
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 13px;
}
.text___22U7C {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.rectangle6 {
  background: rgba(14, 91, 190, 1);
  width: 48px;
  height: 3px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.reachOut {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.reachOut > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.reachOut > :global(.__wab_flex-container) > *,
.reachOut > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reachOut > :global(.__wab_flex-container) > picture > img,
.reachOut
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 13px;
}
.text__pw8E0 {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.rectangle7 {
  background: rgba(14, 91, 190, 1);
  width: 61px;
  height: 3px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.reachOut2 {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.reachOut2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.reachOut2 > :global(.__wab_flex-container) > *,
.reachOut2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reachOut2 > :global(.__wab_flex-container) > picture > img,
.reachOut2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 13px;
}
.text__whrlQ {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.rectangle8 {
  background: rgba(14, 91, 190, 1);
  width: 61px;
  height: 3px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.advisors {
  flex-direction: column;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 47px;
  left: 1041px;
}
.advisors > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 13px);
  height: calc(100% + 13px);
}
.advisors > :global(.__wab_flex-container) > *,
.advisors > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.advisors > :global(.__wab_flex-container) > picture > img,
.advisors
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 13px;
}
.text__qXdp9 {
  display: block;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(14, 91, 190, 1);
  position: relative;
}
.rectangle9 {
  background: rgba(14, 91, 190, 1);
  width: 61px;
  height: 3px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.frame1 {
  background: rgba(14, 91, 190, 1);
  width: 82px;
  height: 28px;
  display: block;
  position: absolute;
  top: 33px;
  left: 1104px;
  overflow: hidden;
  border-radius: 200px;
}
.text___29RLi {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 25px;
}
.frame2 {
  background: rgba(14, 91, 190, 1);
  width: 82px;
  height: 28px;
  display: block;
  position: absolute;
  top: 33px;
  left: 1198px;
  overflow: hidden;
  border-radius: 200px;
}
.text__qkroe {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 17px;
}
