.root {
  width: 1440px;
  height: 706px;
  display: block;
  position: relative;
}
.rectangle21 {
  opacity: 0.1;
  background: rgba(146, 148, 151, 1);
  width: 1440px;
  height: 706px;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.cwLogoSolidWhite1 {
  width: 195px;
  height: 135px;
  display: block;
  position: absolute;
  left: 160px;
  bottom: 470px;
  overflow: hidden;
}
.b {
  transform: translate(0.1px, 0.015px);
  width: 188px;
  height: 136px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.c {
  width: 188px;
  height: 136px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__csrKf {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #0f5cbf;
  width: 187.599px;
  height: 135.084px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg__qmcFl {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #939598;
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 1120px;
  height: 1px;
  display: block;
  transform-origin: top left;
  left: 160px;
  bottom: 207px;
}
.globallyIncubateStandardsCompliantChannelsBeforeScalableBenefitsQuicklyDisseminateSuperiorDeliverablesWhereasWebEnabledApplicationsQuicklyDriveClicksAndMortarCatalystsForChangeBeforeVerticalArchitecturesCrediblyReintermediateBackendIdeasForCrossPlatformModelsContinuallyReintermediateIntegratedProcessesThroughTechnicallySoundIntellectualCapital {
  display: block;
  font-size: 20px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(146, 148, 151, 1);
  position: absolute;
  left: 160px;
  bottom: 81px;
  width: 937px;
}
.text__a9Uzz {
  display: block;
  font-size: 20px;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(146, 148, 151, 1);
  position: absolute;
  left: 160px;
  bottom: 237px;
}
.text__p5ZUe {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(64, 63, 65, 1);
  position: absolute;
  left: 441px;
  bottom: 353px;
  width: 213px;
  height: 253px;
}
.text__qR19L {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(64, 63, 65, 1);
  position: absolute;
  left: 754px;
  bottom: 353px;
  width: 213px;
  height: 253px;
}
.text___7Ubm1 {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(64, 63, 65, 1);
  position: absolute;
  left: 1067px;
  bottom: 353px;
  width: 213px;
  height: 253px;
}
.svg__b0AJ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #939598;
  width: 23px;
  height: 22px;
  display: block;
  left: 1257px;
  bottom: 242px;
}
