.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ae609e00 0%, #f2d599 100%) 0% 0% / cover;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
.freeBox__oNoGq {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: url("/plasmic/cloud_wealth/images/heroBackgroundHomepng.png") top 50% left 50% / cover repeat, #ffffff;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__oNoGq {
    width: 100%;
    min-width: 0;
  }
}
.heroText1 {
  display: flex;
  width: auto;
  justify-content: center;
  position: relative;
  height: auto;
  padding: 107px 32px 109px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .heroText1 {
    padding-top: 87px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    padding-bottom: 25px;
  }
}
.h1__wxNmy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1197px;
  font-size: 96px;
  text-align: center;
  min-width: 0;
}
.freeBox___6NXMg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: -56px;
  min-width: 0;
  padding: 8px;
}
.freeBox__dxjZp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__eWPiz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  padding: 8px;
}
.text__lhZdF {
  width: 100%;
  height: auto;
  max-width: 492px;
  color: var(--token-uQNnLtapt);
  font-family: "SF Pro Display";
  font-size: 24px;
  transform: translateX(59px) translateY(0px) translateZ(0px);
  padding-bottom: 145px;
  margin-top: 74px;
  padding-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  border-radius: 114px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__lhZdF {
    max-width: 310px;
    width: 100%;
    margin-top: 34px;
    margin-right: 97px;
    min-width: 0;
  }
}
.form {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: -85px 2px 2px 161px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.requestADemoInput:global(.__wab_instance) {
  max-width: 100%;
  width: 314px;
  margin-left: 46px;
  margin-right: 23px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .requestADemoInput:global(.__wab_instance) {
    width: 293px;
    margin-left: -56px;
  }
}
.svg__hpXco {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.requestADemoButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 166px;
  margin-left: 13px;
}
.svg__pIkg1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__abt2Z {
  font-family: "SF Pro Display";
}
.svg___2Ri2V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bCao0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___4CtaJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: -1px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .button___4CtaJ:global(.__wab_instance) {
    margin-right: 0px;
    width: 174px;
    margin-top: 13px;
  }
}
.svg__cOn0D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__n0Rh {
  text-align: right;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__n0Rh {
    text-align: center;
  }
}
.svg___793Vy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__yc4Vx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__yc4Vx {
    display: none;
  }
}
.cwDashboardMockup1 {
  box-shadow: 40px -40px 40px 0px rgba(0, 0, 0, 0.1);
  background: url("/plasmic/cloud_wealth/images/cwDashboardMockup1.png") center center / cover no-repeat;
  width: 604px;
  height: 546px;
  display: block;
  margin-top: -21px;
  align-self: center;
  flex-shrink: 0;
}
.asFeaturedIn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-uQNnLtapt);
  border-top-width: 0px;
  border-top-style: solid;
  margin-top: calc(-51px + 0px) !important;
  min-width: 0;
  padding: 100px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .asFeaturedIn {
    margin-top: calc(-1px + 0px) !important;
    margin-right: -1px;
    margin-bottom: -1px;
    margin-left: calc(-1px + 0px) !important;
  }
}
.h1__bYrme {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-VdtTw9wDEW7IRH);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 48px;
  padding-bottom: 91px;
  min-width: 0;
}
.img__lNYpn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lNYpn > picture > img {
  object-fit: cover;
}
.img__lNYpn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__lNYpn {
    height: 88px;
    width: 256px;
    flex-shrink: 0;
  }
}
.advisorInsert {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-aN77bpSkmqYEuu);
  min-width: 0;
  padding: 8px;
}
.yourPersonalVirtualFamilyOffice {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 38px 8px 100px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .yourPersonalVirtualFamilyOffice {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.futureProof2 {
  flex-direction: row;
  background: rgba(167, 159, 216, 1);
  width: auto;
  height: 37px;
  display: flex;
  transform: translateX(-486px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
  border-radius: 16px;
  padding: 9px 20px;
}
.futureProof2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.futureProof2 > :global(.__wab_flex-container) > *,
.futureProof2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.futureProof2 > :global(.__wab_flex-container) > picture > img,
.futureProof2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .futureProof2 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    max-width: 784px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .futureProof2 > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
  }
}
.pill3 {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .pill3 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.h2__pZa8A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 796px;
  transform: translateX(-157px) translateY(0px) translateZ(0px);
  color: var(--token-uQNnLtapt);
  font-family: "SF Pro Display";
  font-size: 48px;
  margin-left: 2px;
  padding-left: 4px;
  padding-bottom: 21px;
  padding-top: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__pZa8A {
    max-width: 592px;
    width: 100%;
    padding-right: 0px;
    text-align: center;
    flex-shrink: 0;
    margin-left: 164px;
    min-width: 0;
  }
}
.text___3Ju {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 770px;
  transform: translateX(-157px) translateY(0px) translateZ(0px);
  font-size: 20px;
  padding-left: 1px;
  padding-bottom: 23px;
  min-width: 0;
  margin: 0px 0px 0px 4px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___3Ju {
    margin-left: 164px;
  }
}
.freeBox__tz0Gx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 149px;
  min-width: 0;
  padding: 8px 8px 8px 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__tz0Gx {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    flex-column-gap: 0px;
  }
}
.freeBox__rtuiH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  margin-right: 6px;
  min-width: 0;
  padding: 8px 86px 8px 5px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rtuiH {
    padding-right: 5px;
  }
}
.freeBox__hyjFb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hyjFb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-self: center;
  }
}
.svg__jDvTs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__jDvTs {
    align-self: center;
  }
}
.text__roPde {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__roPde {
    max-width: 800px;
    width: 100%;
    height: auto;
    padding-left: 41px;
    min-width: 0;
  }
}
.h5__d5GpD {
  padding-top: 9px;
  padding-bottom: 8px;
}
.freeBox___0WEei {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___0WEei {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.svg__yKrkK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__yKrkK {
    align-self: center;
  }
}
.text___55R8P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  min-width: 0;
}
.h5__ll91 {
  padding-top: 9px;
  padding-bottom: 8px;
}
.freeBox__wchd2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__wchd2 {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.svg__cUYg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__cUYg {
    align-self: center;
  }
}
.text__dsCGx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  margin-right: 0px;
  padding-right: 0px;
  min-width: 0;
}
.h5___6KDPj {
  padding-top: 9px;
  padding-bottom: 8px;
}
.freeBox__cWict {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cWict {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.svg__zEx8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg__zEx8 {
    align-self: center;
  }
}
.text__onjIh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  min-width: 0;
}
.h5__tXor {
  padding-top: 9px;
  padding-bottom: 8px;
}
.couple1 {
  background: url("/plasmic/cloud_wealth/images/couple1.jpeg") -163px -707px / 1191px 1725px no-repeat;
  width: 517px;
  height: 783px;
  display: block;
  margin-right: 176px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .couple1 {
    height: 686px;
    width: 376px;
    flex-shrink: 0;
  }
}
.keyFeaturesContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 38px 8px 100px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .keyFeaturesContainer {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.futureProof {
  flex-direction: row;
  background: rgba(167, 159, 216, 1);
  width: auto;
  height: 37px;
  display: flex;
  transform: translateX(-486px) translateY(0px) translateZ(0px);
  flex-shrink: 0;
  border-radius: 16px;
  padding: 9px 20px;
}
.futureProof > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.futureProof > :global(.__wab_flex-container) > *,
.futureProof > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.futureProof > :global(.__wab_flex-container) > picture > img,
.futureProof
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.pill2 {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.h2___9YCyp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 810px;
  transform: translateX(-157px) translateY(0px) translateZ(0px);
  color: var(--token-uQNnLtapt);
  font-family: "SF Pro Display";
  font-size: 48px;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 21px;
  padding-top: 22px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___9YCyp {
    max-width: 519px;
    width: 100%;
    margin-right: 0px;
    padding-left: 0px;
    font-size: 40px;
    text-align: center;
    margin-left: 164px;
    min-width: 0;
  }
}
.text__fu14T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 814px;
  transform: translateX(-157px) translateY(0px) translateZ(0px);
  font-size: 20px;
  padding-left: 5px;
  padding-bottom: 23px;
  min-width: 0;
  margin: 0px 0px 0px 5px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__fu14T {
    margin-left: 164px;
  }
}
.freeBox__ezCqw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  margin-right: 6px;
  min-width: 0;
  padding: 8px 5px;
}
.freeBox__dMhvq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.svg__gm9Ff {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  align-self: center;
  flex-shrink: 0;
}
.text__ooSgN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  padding-right: 0px;
  min-width: 0;
}
.h5__heubG {
  padding-top: 9px;
  padding-bottom: 8px;
}
.freeBox__d0Lc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.svg__eee9K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  align-self: center;
  flex-shrink: 0;
}
.text__jFKx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  min-width: 0;
}
.h5__p4BFs {
  padding-top: 9px;
  padding-bottom: 8px;
}
.freeBox__sZbv5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__babyw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  align-self: center;
  flex-shrink: 0;
}
.text__dD6WD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  min-width: 0;
}
.h5__mjpNg {
  padding-top: 9px;
  padding-bottom: 8px;
}
.freeBox__md5Gi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg___8Edlu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  align-self: center;
  flex-shrink: 0;
}
.text__zsup {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  min-width: 0;
}
.h5__raKeN {
  padding-top: 9px;
  padding-bottom: 8px;
}
.img__lLAsG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lLAsG > picture > img {
  object-fit: cover;
}
.img__lLAsG > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__i2Cgn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 149px;
  min-width: 0;
  padding: 8px 8px 8px 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__i2Cgn {
    width: 570px;
    display: none;
    padding: 0px;
  }
}
.businessman1 {
  background: url("/plasmic/cloud_wealth/images/businessman1.png") 0px 0px / 499px 749px no-repeat;
  width: 499px;
  height: 559px;
  display: block;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .businessman1 {
    width: 217px;
    align-self: center;
    flex-shrink: 0;
  }
}
.freeBox___99U6B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  margin-right: 146px;
  min-width: 0;
  padding: 8px 8px 8px 65px;
}
.freeBox__bZqGp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__undUg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
}
.text__zt9K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  padding-right: 0px;
  min-width: 0;
}
.h5___2J5Za {
  padding-top: 9px;
  padding-bottom: 8px;
}
.freeBox__wXfTf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__uSrJl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
}
.text__zrO9O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  min-width: 0;
}
.h5__eE0Cw {
  padding-top: 9px;
  padding-bottom: 8px;
}
.freeBox__rjSw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__vu1M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
}
.text__d1Fko {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  min-width: 0;
}
.h5__uR7QD {
  padding-top: 9px;
  padding-bottom: 8px;
}
.freeBox__vypt0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__xnwWi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 71px;
  height: 71px;
  flex-shrink: 0;
}
.text__bC6S4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 41px;
  min-width: 0;
}
.h5__l489D {
  padding-top: 9px;
  padding-bottom: 8px;
}
.scalableMetrics {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-uQNnLtapt);
  min-width: 0;
  padding: 38px 8px 100px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .scalableMetrics {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: -80px;
    margin-bottom: 0px;
    padding-bottom: 35px;
  }
}
.h2__t3Ro7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "SF Pro Display";
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__t3Ro7 {
    display: block;
  }
}
.text__jRlFb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 368px;
  font-family: "SF Pro Display";
  text-align: center;
  padding-top: 19px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__jRlFb {
    display: block;
  }
}
.freeBox__dAhlb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 149px;
  min-width: 0;
  padding: 8px 8px 8px 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__dAhlb {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    margin-left: 0px;
    padding-left: 0px;
  }
}
.img___1QeMp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 536px;
  height: 575px;
  margin-right: 101px;
  flex-shrink: 0;
}
.img___1QeMp > picture > img {
  object-fit: cover;
}
.img___1QeMp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___1QeMp {
    margin-left: 0px;
    width: 489px;
    height: 338px;
    flex-shrink: 0;
  }
}
.freeBox__lhimk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 130px;
  margin-right: 0px;
  min-width: 0;
  padding: 8px 5px 8px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__lhimk {
    width: 385px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
    padding: 0px;
  }
}
.h2__shJkg {
  width: 556px;
  height: auto;
  max-width: 1016px;
  transform: translateX(-157px) translateY(0px) translateZ(0px);
  color: var(--token-VdtTw9wDEW7IRH);
  font-family: "SF Pro Display";
  font-size: 48px;
  padding: 25px 0px 0px;
  margin: -6px -6px -6px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__shJkg {
    width: 71px;
    margin-right: 0px;
    display: none;
  }
}
.text__k75Fb {
  width: 100%;
  height: auto;
  max-width: 1016px;
  transform: translateX(-157px) translateY(0px) translateZ(0px);
  font-size: 20px;
  padding-left: 3px;
  padding-bottom: 23px;
  color: var(--token-VdtTw9wDEW7IRH);
  margin-left: 0px;
  padding-top: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__k75Fb {
    max-width: 549px;
    width: 100%;
    padding-left: 160px;
    margin-left: 0px;
    padding-bottom: 0px;
    text-align: center;
    min-width: 0;
    display: none;
  }
}
.button__euFhl:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  margin-left: -143px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .button__euFhl:global(.__wab_instance) {
    height: 54px;
    margin-top: 21px;
    margin-left: 91px;
    flex-shrink: 0;
  }
}
.svg__wKEiU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___7VLn8 {
  font-family: "SF Pro Display";
  text-align: left;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___7VLn8 {
    text-align: center;
  }
}
.svg__bfiVl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___3O3S5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 11px;
  margin-left: -290px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___3O3S5 {
    margin-top: 26px;
    margin-left: 86px;
    flex-wrap: wrap;
    align-items: stretch;
    align-self: stretch;
    width: 218px;
    display: flex;
    flex-direction: row;
  }
}
.svg___7AYN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 49px;
  height: 49px;
  flex-shrink: 0;
}
.link {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-VdtTw9wDEW7IRH);
  font-size: 20px;
  font-weight: 500;
  align-self: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link {
    max-width: 144px;
    width: 100%;
    text-align: center;
    min-width: 0;
  }
}
.footerDesktop1:global(.__wab_instance) {
  position: relative;
  margin-bottom: 49px;
}
.privacyPolicyLinks:global(.__wab_instance) {
  position: relative;
  margin-top: 92px;
}
.footerLine:global(.__wab_instance) {
  position: relative;
  left: auto;
  bottom: auto;
  flex-shrink: 0;
}
.disclaimer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  margin-top: 49px;
  margin-bottom: 49px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .disclaimer:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    display: none;
  }
}
.text__djWyh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: justify;
  margin-bottom: 16px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__djWyh {
    display: block;
  }
}
.footerDisclaimer:global(.__wab_instance) {
  position: relative;
}
.freeBox__rRBp {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  display: none;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rRBp {
    left: auto;
    top: auto;
    align-self: center;
    background: #929497;
    width: 1440px;
    height: 706px;
    opacity: 0.1;
    flex-shrink: 0;
    display: none;
  }
}
.text__zagYo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 18px;
  color: #000000;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__zagYo {
    display: none;
  }
}
.text__feEVn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 18px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__feEVn {
    display: none;
  }
}
.text__u4Vpu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__u4Vpu {
    display: none;
  }
}
.text___1F8A2 {
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "SF Pro Display";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(64, 63, 65, 1);
  position: relative;
  left: auto;
  bottom: auto;
  width: 213px;
  height: 253px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___1F8A2 {
    left: auto;
    bottom: auto;
    display: none;
  }
}
.text__dlNa0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__dlNa0 {
    display: none;
  }
}
.ctaBlock:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .ctaBlock:global(.__wab_instance) {
    margin-left: calc(0px + 0px) !important;
  }
}
